{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
     $(document).ready(function() {
        $("#div1").fadeIn(200);
        table = $('#example').DataTable(
        {
            ajax:"/ajax/{{title}}",
            stateSave: true,
			
            processing: true,
            type:"POST",
            "deferRender": true,
			"columnDefs": [  
                  
			  {
				  "targets": [-1], 
				   "data": [0],
				  "render": function(data, type, full) { 
					  return colEdicHtml;
				  }
			  }                               
              ],
			dom: 'Bfrtip',
			buttons: [
				{
					text: '<span class="glyphicon glyphicon-plus"></span>',
					action: function ( e, dt, node, config ) {
						$('#myModal').modal('show')
						
					}
				},
				{
					text:'<span class="glyphicon glyphicon-download-alt"></span>',
					extend: 'pdfHtml5',
					messageTop: 'PDF created according to Table:{{sheetName}}.'
				},
				{
					text:'<span class="glyphicon glyphicon-print"></span>',
					extend: 'print',
					messageTop: 'This print was produced using the Print button for DataTables'
				},
				{
					text: '<span class="glyphicon glyphicon-refresh"></span>',
					action: function ( e, dt, node, config ) {
						table.ajax.reload();
						//alert(getEditNum({{num}}));
						//alert(number);
						ShowMsg("Succeed to Load Data....... ");
						
					}
				},
		
			],
            
        });
        
        
		$("#example tbody").on("click", "#bEdit", function () {
			//oldData = $('#example').DataTable().row($(this).parents('tr')).data();
			//alert(oldData);
			rowEdit(this);
            
		});
	$("#example tbody").on("click", "#bElim", function () {
		var row = $('#example').DataTable().row($(this).parents('tr'));
		oldData = $('#example').DataTable().row($(this).parents('tr')).data();
		//alert(oldData);
		$.post("/ajax/{{title}}/delete",
			{
				'content':oldData.join('###'),
			},
			function(data,status){
				//alert("数据: " + data + "\n状态: " + status);
				ShowSuccess("Succeed to Delete " + data.Name);
				row.remove().draw();
			});   
	 
		//$('#example').DataTable().row($(this).parents('tr')).remove().draw();
	});
	$("#example tbody").on("click", "#bAcep", function () {
	    var row = $('#example').DataTable().row($(this).parents('tr'));
		var newData = rowAcep(this);
		alert(oldData);
		alert(newData);
		$.post("/ajax/{{title}}/update",
			{
				'content':newData.join('###'),
			},
			function(data,status){
				alert("数据: " + data + "\n状态: " + status);
				ShowSuccess("Succeed to Edit " + data.Name);
				row.data(newData).draw();
			});   
		
		//$('#example').DataTable().row($(this).parents('tr')).data(newData).draw();
	});
	$("#example tbody").on("click", "#bCanc", function () {
	 
		rowCancel(this);
	});
	$('table').SetEditable(
	 {
	 columnsEd: getEditNum(number),
	 onEdit: function(newData) {
			//t.row(this).data(newData).draw(false);
			
	 }, 
    onDelete: function(row) {
	 //row.remove().draw();
	 //row.remove().draw(false);
	 alert(' after delete');
    }, 
    onBeforeDelete: function() {
	  //alert('beforeDelete')
    },
	 
	 });
        
    } );
     
     </script>
<div id="div1" class="container" style="height:auto;border:1px;margin:auto;">
<h2>{{title}} <span class="label label-default"></span></h2>
<table  border="1"  class="hover" id="example">
   <thead>
    <tr >
    {% for head in heads%}
        <th ><b>{{head}}</b></th>
		{% if loop.last %}
	  <script>
     var number = {{ loop.length }};
	 //alert(number);
	  </script>
  {% endif %}
    {% endfor %}
	<th ><b>Operation</b></th>
    </tr>
    </thead>
     <tfoot>
     <tr>
    {% for head in heads%}
        <th ><b>{{head}}</b></th>
    {% endfor %}
	
	<th ><b>Operation</b></th>
    </tr>
     </tfoot>
</table>
</div>


{% endblock %}
