{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
     $(document).ready(function() {
        $("#div1").fadeIn(200);
        table = $('#example').DataTable(
        {
            ajax:"/ajax/{{title}}",
            stateSave: true,
			
            processing: true,
            type:"POST",
            "deferRender": true,
			"columnDefs": [  
                  
			  {
				  "targets": [-1], 
				   "data": [0],
				  "render": function(data, type, full) { 
					  return colEdicHtml;
				  }
			  }                               
              ],
			dom: 'Bfrtip',
			buttons: [
				{
					text: '<span class="glyphicon glyphicon-plus"></span>',
					action: function ( e, dt, node, config ) {
						$('#myModal').modal('show')
						
					}
				},
				{
					text:'<span class="glyphicon glyphicon-download-alt"></span>',
					extend: 'pdfHtml5',
					messageTop: 'PDF created according to Table:{{sheetName}}.'
				},
				{
					text:'<span class="glyphicon glyphicon-print"></span>',
					extend: 'print',
					messageTop: 'This print was produced using the Print button for DataTables'
				},
				{
					text: '<span class="glyphicon glyphicon-refresh"></span>',
					action: function ( e, dt, node, config ) {
						t.ajax.reload();
						ShowMsg("Succeed to Load Data....... ");
						
					}
				},
		
			],
            
        });
        
        $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
        } );
        
    } );
     
     </script>
<div id="div1" class="container" style="height:auto;border:1px;margin:auto;">
<h2>{{title}} <span class="label label-default"></span></h2>
<table  border="1"  class="hover" id="example">
   <thead>
    <tr >
    {% for head in heads%}
        <th ><b>{{head}}</b></th>
    {% endfor %}
	<th ><b>Operation</b></th>
    </tr>
    </thead>
     <tfoot>
     <tr>
    {% for head in heads%}
        <th ><b>{{head}}</b></th>
    {% endfor %}
	<th ><b>Operation</b></th>
    </tr>
     </tfoot>
</table>
</div>
{% endblock %}