

<!doctype html>

<meta charset="utf-8">
<title>replication tes bed</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="../static/css/demo.css">
<script src="../static/js/d3.v4.min.js" charset="utf-8"></script>
<script src="../static/js/dagre-d3.js"></script>

<h1>replication tes bed</h1>

<style id="css">
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.arrowhead {
 stroke: blue;
 fill: blue;
 stroke-width: 1.5px;
}

</style>

<svg id="svg" width=960 height=600></svg>
<section>
Device
<input type="text" id="device_name"  />
<button type="button" onclick="add_device()">AddDevice </button>
<button type="button" onclick="del_device()">DeleteDevice </button>
</section>
<section>
Source
<select id="source">
  <option value="OB-D1468">OB-D1468</option>
  <option value="OB-D1442">OB-D1442</option>
  <option value="OB-D1499">OB-D1499</option>
  <option value="OB-D1097">OB-D1097</option>
  <option value="OB-D1099">OB-D1099</option>
  <option value="OB-D1234">OB-D1234</option>
  <option value="nh-vsa-1">nh-vsa-1</option>
  <option value="nh-vsa-2">nh-vsa-2</option>
</select>
Destiantion
<select id="destination">
  <option value="OB-D1468">OB-D1468</option>
  <option value="OB-D1442">OB-D1442</option>
  <option value="OB-D1499">OB-D1499</option>
  <option value="OB-D1097">OB-D1097</option>
  <option value="OB-D1099">OB-D1099</option>
  <option value="OB-D1234">OB-D1234</option>
  <option value="nh-vsa-1">nh-vsa-1</option>
  <option value="nh-vsa-2">nh-vsa-2</option>
</select>
Relationship
<select id="relationship">
  <option value="sync">sync replication</option>
  <option value="async ">async replication</option>
  <option value="ndmp">ndmp</option>
</select>
<button type="button" onclick="add_relation()">AddRelation </button>
<button type="button" onclick="del_relation()">DeleteRelation </button>
</section>
<section>

 <button type="button" onclick="show()">Save As </button>
</section>
<script>

function show()
{
    nodes.forEach(function(node){
        alert(node);
    });
}
function buildBase(relation_list){
    getAllNode(relation_list);
    nodes.forEach(function(node){
        g.setNode(node, {labelStyle: "font-weight: bold"});
    });
    relation_list.forEach(function(relation){
        buildRelation(relation);
    });
    render(inner, g);
    centerGraph();
}

function getAllNode(relation_list){
    relation_list.forEach(function (relation){
        nodes.add(relation[0]);
        nodes.add(relation[1]);
    });
}

function buildRelation(relationship){
    g.setEdge(relationship[0],relationship[1], {
		label: relationship[2]
	});
}

function add_device()
{
    device = $('#device_name').val();
    g.setNode(device, {labelStyle: "font-weight: bold"});
    nodes.add(device);
    render(inner, g);
	centerGraph();
}

function del_device()
{
    device = $('#device_name').val();
    g.removeNode(device);
    nodes.delete(device);
    render(inner, g);
	centerGraph();
}

function add_relation() {
    source = $("#source").val();
	//alert(source);
	destination = $("#destination").val();
	relationship = $("#relationship").val();
	buildRelation([source,destination,relationship]);
	render(inner, g);
	centerGraph();
}

function del_relation() {
    source = $("#source").val();
	//alert(source);
	destination = $("#destination").val();
	g.removeEdge(source, destination);
	//g.removeNode('nh-vsa-1');
	render(inner, g);
	centerGraph();
}
function centerGraph()
{
    var xCenterOffset = (svg.attr("width") - g.graph().width) / 2;
    inner.attr("transform", "translate(" + xCenterOffset + ", 20)");
    svg.attr("height", g.graph().height + 40);
}
</script>

<script id="js">
// Create the input graph
var g = new dagreD3.graphlib.Graph().setGraph({});
var nodes = new Set([]);
var relation_list = [["OB-D1468","OB-D1442","sync"],["OB-D1442","OB-D1499","async"]];



// Create the renderer
var render = new dagreD3.render();

// Set up an SVG group so that we can translate the final graph.
var svg = d3.select("svg"),
    inner = svg.append("g");

// Run the renderer. This is what draws the final graph.
buildBase(relation_list);
//render(inner, g);

// Center the graph

</script>


