

<!doctype html>

<meta charset="utf-8">
<title>replication tes bed</title>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="../static/css/demo.css">
<script src="../static/js/d3.v4.min.js" charset="utf-8"></script>
<script src="../static/js/dagre-d3.js"></script>

<style id="css">
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.arrowhead {
 stroke: blue;
 fill: blue;
 stroke-width: 1.5px;
}

</style>
<section>
Test Bed
<select id="tb_name" onchange="getTestBed()">
  {% for item in testbed_type%}
      <option value={{item}}>{{item}}</option>

  {% endfor %}
</select>
    <button type="button" onclick="show_hiden('show')">Copy TB </button>
    <input type="text" id="hiden"  />
  </section>
<svg id="svg" width=960 height=600></svg>

<section>
Device  &nbsp;&nbsp;Name
<input type="text" id="device_name"  />&nbsp;
<button type="button" onclick="add_device()">Add </button>
<select id="device_list" >
  {% for item in devices%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
<button type="button" onclick="del_device()">Del </button>
</section>
<section>
Connect  Name
<input type="text" id="connection_name"  />&nbsp;
<button type="button" onclick="add_connection()">Add </button>
 <select id="connection_list">
  {% for item in connections%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
<button type="button" onclick="del_connection()">Del </button>
</section>
<section>
Source
<select id="source">
   {% for item in devices%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
Destiantion &nbsp;
<select id="destination">
  {% for item in devices%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
Relationship
<select id="relationship">
  {% for item in connections%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
<button type="button" onclick="add_relation()">Add </button>
<button type="button" onclick="del_relation()">Del </button>
</section>
<section>

 <button type="button" onclick="save()">Save As </button>
</section>
<script>

function show_hiden(status)
{
    if(status == 'show')
    {
        $('#hiden').show();
        relation_list = [];
    }
    else
    {
        $('#hiden').hide();
    }

}
function getTestBed()
{
  var selected_value = $('#tb_name option:selected').val();
  alert(selected_value);
  $('#hiden').val(selected_value);
  $.get("/ts/tb/"+selected_value,function(data,status){
     //alert("数据：" +"\n状态：" + status);
    relation_list = data['relation'];
    alert(relation_list);
    //svg.selectAll("*").remove();
    nodes.forEach(function(node){
        del_node(device = node);
    });
    buildBase(relation_list);
  });
}
function save()
{
    nodes.forEach(function(node){
        //alert(node);
    });
     relation_list.forEach(function(relation){
        alert(relation);
    });
    var selected_value = $('#hiden').val();
    $.post("/ts/tb/update/"+selected_value,
    {
        'content':JSON.stringify(relation_list),
    },
    function(data,status){
        alert("数据: " + "\n状态: " + status);
    });
}
function buildBase(relation_list){
    getAllNode(relation_list);
    nodes.forEach(function(node){
        g.setNode(node, {labelStyle: "font-weight: bold"});
    });
    relation_list.forEach(function(relation){
        buildRelation(relation);
    });
    render(inner, g);
    centerGraph();
}

function getAllNode(relation_list){
    relation_list.forEach(function (relation){
        nodes.add(relation[0]);
        nodes.add(relation[1]);
    });
}

function buildRelation(relationship){
    g.setNode(relationship[0], {labelStyle: "font-weight: bold"});
    g.setNode(relationship[1], {labelStyle: "font-weight: bold"});
    g.setEdge(relationship[0],relationship[1], {
		label: relationship[2]
	});
}

function add_device(device = $('#device_name').val())
{
    $.get("/ts/tb/device/add/"+$('#device_name').val(),function(data,status){
       //alert("状态：" + status);
       document.getElementById("device_list").options.add(new Option(device,device));
       document.getElementById("source").options.add(new Option(device,device));
       document.getElementById("destination").options.add(new Option(device,device));
    });
}

function del_device(device = $("#device_list option:selected").val())
{
    $.get("/ts/tb/device/delete/"+device,function(data,status){
        alert("状态：" + status);
        var index = $("#device_list").get(0).selectedIndex;
        alert(index);
        $("#device_list option:selected").remove();
        $("#source option[value="+device+"]").remove();
        $("#destination option[value="+device+"]").remove();


    });
     //$("#device_list option:selected").remove();
}

function del_node(device = $('#device_name').val())
{
     //$.get("/ts/tb/device/delete/"+device,function(data,status){
       //alert("状态：" + status);
      // $("#device_list option:selected").remove();
    //});
    g.removeNode(device);
    nodes.delete(device);
    render(inner, g);
	centerGraph();


}

function add_connection(connection = $('#connection_name').val())
{
    $.get("/ts/tb/connection/add/"+connection,function(data,status){
       //alert("状态：" + status);
       document.getElementById("relationship").options.add(new Option(connection,connection));
       document.getElementById("connection_list").options.add(new Option(connection,connection));
    });

}

function del_connection(connection = $('#connection_list option:selected').val())
{
    //del from select
    $.get("/ts/tb/connection/delete/"+connection,function(data,status){
       alert("状态：" + status);
       $("#connection_list option:selected").remove();
       $("#relationship option[value="+connection+"]").remove();
    });
}

function add_relation(source = $("#source").val(),destination = $("#destination").val(),relationship = $("#relationship").val()) {
	buildRelation([source,destination,relationship]);
	relation_list.push([source,destination,relationship]);
	nodes.add(source);
	nodes.add(destination);
	render(inner, g);
	centerGraph();
}

function del_relation(source = $("#source").val(),destination = $("#destination").val(),relationship = $("#relationship").val()) {

	g.removeEdge(source, destination);
	var i = 0;
	var index;
	var temp = [source,destination,relationship];
	for (i =0;i<relation_list.length;i++)
	{
	    if (temp[0] == relation_list[i][0]   )
	    {
	        if(temp[1] == relation_list[i][1])
	        {
	            index = i;
	            alert(index);
	        }

	    }

	}
	relation_list.splice(index,1);
	alert(relation_list);
	render(inner, g);
	centerGraph();
}
function centerGraph()
{
    var xCenterOffset = (svg.attr("width") - g.graph().width) / 2;
    inner.attr("transform", "translate(" + xCenterOffset + ", 20)");
    svg.attr("height", g.graph().height + 40);
}
</script>

<script id="js">
show_hiden('hide');
$('#hiden').val($('#tb_name option:selected').val());
// Create the input graph
var g = new dagreD3.graphlib.Graph().setGraph({});
var nodes = new Set([]);
var relation_list = new Array();

$.get("/ts/tb/"+$('#tb_name option:selected').val(),function(data,status){
     //alert("数据：" +data['tb']+ "\n状态：" + status);
    var temp_arr = new Array();
    relation_list = data['relation'];
    buildBase(relation_list);
  });
// Create the renderer
        var render = new dagreD3.render();

    // Set up an SVG group so that we can translate the final graph.
    var svg = d3.select("svg"),
        inner = svg.append("g");

    // Run the renderer. This is what draws the final graph.
    buildBase(relation_list);
    //render(inner, g);




// Center the graph

</script>

