<html>
  <head>
    <title>DM CTC LAB Management</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css"/>
     <link rel="stylesheet" href="../static/css/style.css" /> 
  </head>
  <body  style= "background-image:url(../static/bg.jpg)"  >
  <center >MRQE SOULUTION DATA MOBLITY HARDWARE MANAGEMENT</center>
    <table style="background:#0000FF" border="0" id="hiden-table" width="100%">
    <tr style="color:#0000FF;background:#F0F0F0">
    {% for link in links %}
    
     <th><a href="{{ link }}">{{ link }}</a></th>
    {% endfor %} 
    {% block content %}{% endblock %}
    </tr>
    </table>
    
    
  </body>
</html>