<html>
  <head>
    <title>DM CTC LAB Management</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css"/>
     <link rel="stylesheet" href="../static/css/style.css" /> 
  </head>
  <body background="../static/bg4.jpg" >
    <table style="background:#0000FF" border="0" id="hiden-table" width="100%">
    
    <center >MRQE SOULUTION DATA MOBLITY HARDWARE MANAGEMENT</center>
    
    <tr style="color:#0000FF;background:#F0F0F0">
    <th><a href="/home">Home</a></th>
    <th><a href="/array">Array</a></th>
    <th><a href="/host">Host</a></th>
    <th><a href="/virtualization">Virtualization</a></th>
    <th><a href="/falcon 404 IP assignment">Falcon IP</a></th>
    <th><a href="/sanblaze">Sanblaze</a></th>
    <th><a href="/rockies">Rockies</a></th>
    <th><a href="/service">Service</a></th>
    <th><a href="/daily tool">Daily Tool</a></th>
    <th><a href="/special setup">Special Setup</a></th>
    <th><a href="/standard tb">Standard TB</a></th>
    <th><a href="/baseline tc">Baseline TC</a></th>
    </tr>
    </table>
    
    {% block content %}{% endblock %}
    <footer>
    <div id="footer">
      <h2>MRQR DMCTC:Reid Yang | Mail To: <a href="mailto:reid.yang@emc.com">reid.yang@emc.com</a></h2> 
      </div>
    </footer>
    <script type=text/javascript>
     $(document).ready(function() {
        
        var table = $('#example').DataTable();
        $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
        } );
    } );
     
     </script>
  </body>
</html>