{% extends "base.html" %}
{% block content %}
<table style="width:100%" border="0" class="warp_table" id="example">
   <thead>
    <tr class="blue">
    {% for head in posts.heads%}
        <th ><b>{{head}}</b></th>
    {% endfor %}
    </tr>
    </thead>
     <tfoot>
     {% for head in posts.heads%}
        <th ><b>{{head}}</b></th>
    {% endfor %}
     </tfoot>
    <tbody id="table2" text-align="center">
{% for post in posts.body %}

  <tr>
   {% for head in posts.heads%}
        <td>{{post[head]}}</td>
    {% endfor %}   
  </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}