{% extends "base.html" %}
{% block content %}
<table  border="0"  class="hover" id="example">
   <thead>
    <tr >
    {% for head in posts.heads%}
        <th ><b>{{head}}</b></th>
    {% endfor %}
    </tr>
    </thead>
     <tfoot>
     {% for head in posts.heads%}
        <th ><b>{{head}}</b></th>
    {% endfor %}
     </tfoot>
    <tbody id="table2" >
{% for post in posts.body %}

  <tr>
   {% for head in posts.heads%}
        <td>{{post[head]}}</td>
    {% endfor %}   
  </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}