{% extends "base.html" %}
{% block content %}
<table style="width:100%" border="1" class="warp_table" id="table">
  
    <tr class="blue">
    {% for head in posts.heads%}
        <th><b>{{head}}</b></th>
    {% endfor %}
    </tr>
    <tbody id="table2">
{% for post in posts.body %}

  <tr>
   {% for head in posts.heads%}
        <td>{{post[head]}}</td>
    {% endfor %}   
  </tr>
{% endfor %}
  </tbody>
</table>
<span id="spanFirst">First</span> <span id="spanPre">Previous</span> <span id="spanNext">Next</span> <span id="spanLast">Last</span> The<span id="spanPageNum"></span>Page/Total<span id="spanTotalPage"></span>Page(s)
{% endblock %}