<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
</head>
<body>
<div>
<a href="http://10.244.118.13:5000/admin">Go to SPE Data Mobility Lab management</a>
    </div>
<div>
<a href="http://10.244.118.13:5001/test_case">Go to SPE Data Mobility Test Status</a>
</div>

<div>
<a href="http://10.244.118.13:5001/rigs">Go to SPE Data Mobility Test Rig Status</a>
</div>
</body>
</html>