
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Yet Another DataTables Column Filter (yadcf) Showcase</title>

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	<link href="https://cdn.bootcss.com/datatables/1.10.19/css/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css"></link>
	<link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/select2.css') }}" rel="stylesheet" type="text/css" />
	<link href="https://cdn.bootcss.com/yadcf/0.9.4-beta.28/jquery.dataTables.yadcf.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />

	    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/select2.js') }}"></script>
	<script src="{{ url_for('static', filename='js/shBrushJScript.js') }}"></script>
	<script src="https://cdn.bootcss.com/yadcf/0.9.4-beta.28/jquery.dataTables.yadcf.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.js"></script>



	<!--<script type="text/javascript" src="{{ url_for('static', filename='js/ajax_source_example.js' )}}"></script>-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/fnReloadAjax.js' )}}"></script>
	<script>
	$(document).ready(function () {
	'use strict';

	oTable = $('#entrys_table').dataTable({
        "ajax": '/ajax/get_dm_array',
        "columnDefs": [
                  {
                    "targets": [ 1,6,7,12,13 ],
                    "visible": false,
                    "searchable": false
                  }

                ]
    }).yadcf([
	    <!--{column_number : 0, filter_type: "multi_select", select_type: 'select2'},-->
	    <!--{column_number : 1,select_type: 'select2'},-->
	    <!--{column_number : 2, select_type: "multi_select", select_type: 'select2'},-->
	    {column_number : 3, filter_type: "multi_select", select_type: 'select2'},
         {column_number : 4, filter_type: "multi_select", select_type: 'select2'},


	    ]);

	SyntaxHighlighter.all();
});
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-39379495-2', 'yadcf-showcase.appspot.com');
	  ga('send', 'pageview');

	</script>
  </head>

  <body>



  	<div class="container_wrapper">

  		<div class="container">

	  		<div id="entrys_table_manual_wrapper">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="entrys_table" width="100%">
					<thead>
						<tr>
							<th>Name</th>
			                <th>ID</th>
			                <th>CSIP</th>
			                <th>Model</th>
			                <th>Image</th>
			                <th>Tags</th>
			                <th>Encryptionstatus</th>
			                <th>Exempt</th>
			                <th>Totalcapacity</th>
			                <th>Diskcount</th>
			                <th>Bounddiskcount</th>
			                <th>Reserved_for</th>
			                <th>Responsiblemanager</th>
			                <th>Reservation_dateends</th>
						</tr>
					</thead>
					<tfoot>
			            <tr>
			                <th>Name</th>
			                <th>ID</th>
			                <th>CSIP</th>
			                <th>Model</th>
                            <th>Image</th>
			                <th>Tags</th>
			                <th>Encryptionstatus</th>
			                <th>Exempt</th>
			                <th>Totalcapacity</th>
			                <th>Diskcount</th>
			                <th>Bounddiskcount</th>
			                <th>Reserved_for</th>
			                <th>Responsiblemanager</th>
			                <th>Reservation_dateends</th>
			            </tr>
			        </tfoot>
				</table>
			</div>
		</div>
	</div>



  </body>
</html>
