{% extends 'admin/master.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!--<link rel="stylesheet" href="../../static/css/demo.css">-->
<script src="../../static/js/d3.v4.min.js" charset="utf-8"></script>
<script src="../../static/js/dagre-d3.js"></script>

<style id="css">
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.arrowhead {
 stroke: blue;
 fill: blue;
 stroke-width: 1.5px;
}

</style>
<svg id="svg" width=960 height=600></svg>
<section>
Source
<select id="source">
  <option value="OB-D1468">OB-D1468</option>
  <option value="OB-D1442">OB-D1442</option>
  <option value="OB-D1499">OB-D1499</option>
  <option value="OB-D1097">OB-D1097</option>
  <option value="OB-D1099">OB-D1099</option>
  <option value="OB-D1234">OB-D1234</option>
  <option value="nh-vsa-1">nh-vsa-1</option>
  <option value="nh-vsa-2">nh-vsa-2</option>
</select>
Destiantion
<select id="destination">
  <option value="OB-D1468">OB-D1468</option>
  <option value="OB-D1442">OB-D1442</option>
  <option value="OB-D1499">OB-D1499</option>
  <option value="OB-D1097">OB-D1097</option>
  <option value="OB-D1099">OB-D1099</option>
  <option value="OB-D1234">OB-D1234</option>
  <option value="nh-vsa-1">nh-vsa-1</option>
  <option value="nh-vsa-2">nh-vsa-2</option>
</select>
Relationship
<select id="relationship">
  <option value="sync">sync replication</option>
  <option value="async ">async replication</option>
  <option value="ndmp">ndmp</option>
</select>
</section>
<section>
<button class="btn" type="button" onclick="add()">Add </button>
<button class="btn btn-danger" type="button" onclick="del()">Delete </button>
<button class="btn btn-primary" type="button" onclick="del()">Save </button>
</section>
<script>
function add() {
    source = document.getElementById("source").value;
	alert(source);
	dest = document.getElementById("destination").value;
	relationship = document.getElementById("relationship").value;
	g.setEdge(source,dest, {
		label: relationship
	});
	render(inner, g);
}

function del() {
    source = document.getElementById("source").value;
	alert(source);
	g.removeEdge('OB-D1099', 'nh-vsa-1');
	g.removeNode('nh-vsa-1');
	render(inner, g);
}
</script>

<script id="js">
// Create the input graph
var g = new dagreD3.graphlib.Graph().setGraph({});

// Fill node "OB-D1468" with the color green
g.setNode("OB-D1468", { labelStyle: "font-weight: bold",style: "fill: #afa" });

// Make the label for node "OB-D1442" bold
g.setNode("OB-D1442", { labelStyle: "font-weight: bold",style: "fill: #afa" });

// Double the size of the font for node "OB-D1499"
g.setNode("OB-D1499", { labelStyle:"font-weight: bold" });

g.setNode("OB-D1234", {});
g.setNode("OB-D1097", {});

g.setNode("OB-D1099", {});
g.setNode("nh-vsa-1", {});
g.setNode("nh-vsa-2", {});

// Make the edge from "OB-D1468" to "OB-D1442" red, thick, and dashed
g.setEdge("OB-D1468", "OB-D1442", {
  label:"sync replication",
  style: "stroke: #f66; ",
});

// Make the label for the edge from "OB-D1499" to "OB-D1442" italic and underlined


// Make the edge between A and D smoother.
// see available options for lineInterpolate here: https://github.com/mbostock/d3/wiki/SVG-Shapes#line_interpolate
g.setEdge("OB-D1442", "OB-D1097", {
  label: "async replication"
});

g.setEdge("OB-D1442", "OB-D1099", {
	label: "async replication"
});
g.setEdge("OB-D1097", "OB-D1234", {
    label: "async replication"
});


g.setEdge("OB-D1097", "OB-D1499", {
	label: "async replication"
});
g.setEdge("OB-D1099", "nh-vsa-1", {
	label: "async replication"
});
g.setEdge("OB-D1499", "nh-vsa-2", {
	label: "NDMP"
})

// Create the renderer
var render = new dagreD3.render();

// Set up an SVG group so that we can translate the final graph.
var svg = d3.select("svg"),
    inner = svg.append("g");

// Run the renderer. This is what draws the final graph.
render(inner, g);

// Center the graph
var xCenterOffset = (svg.attr("width") - g.graph().width) / 1.5;
inner.attr("transform", "translate(" + xCenterOffset + ", 20)");
svg.attr("height", g.graph().height + 40);
</script>
{% endblock %}