{% extends 'admin/master.html' %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!--<link rel="stylesheet" href="../../static/css/demo.css">-->
<script src="../../static/js/d3.v4.min.js" charset="utf-8"></script>
<script src="../../static/js/dagre-d3.js"></script>

<style id="css">
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.arrowhead {
 stroke: blue;
 fill: blue;
 stroke-width: 1.5px;
}

</style>
<svg id="svg" width=960 height=200></svg>
<section>
Source
<select id="source">
  {% for item in rig_names%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
Destiantion
<select id="destination">
  {% for item in rig_names%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
Relationship
<select id="relationship">
  {% for item in rig_connect_names%}
      <option value={{item}}>{{item}}</option>
  {% endfor %}
</select>
</section>
<section>
<button class="btn btn-success" type="button" onclick="add_relation()">Add </button>
<button class="btn btn-danger" type="button" onclick="del_relation()">Delete </button>
<button class="btn btn-primary" type="button" onclick="save()">Save </button>
<a class="btn btn-default" href="{{ url_for('testbed.index_view') }}">Return</a>
</section>
<script>

function buildBase(relation_list){
    getAllNode(relation_list);
    nodes.forEach(function(node){
        g.setNode(node, {labelStyle: "font-weight: bold"});
    });
    relation_list.forEach(function(relation){
        buildRelation(relation);
    });
    render(inner, g);
    centerGraph();
}

function getAllNode(relation_list){
    relation_list.forEach(function (relation){
        nodes.add(relation[0]);
        nodes.add(relation[1]);
    });
}

function del_node(device)
{

    g.removeNode(device);
    nodes.delete(device);
    render(inner, g);
	centerGraph();


}

function buildRelation(relationship){
    g.setNode(relationship[0], {labelStyle: "font-weight: bold"});
    g.setNode(relationship[1], {labelStyle: "font-weight: bold"});
    g.setEdge(relationship[0],relationship[1], {
		label: relationship[2]
	});
}

function centerGraph()
{
    var xCenterOffset = (svg.attr("width") - g.graph().width) / 2;
    inner.attr("transform", "translate(" + xCenterOffset + ", 20)");
    svg.attr("height", g.graph().height + 40);
}

function add_relation() {
    source = document.getElementById("source").value;
	<!--alert(source);-->
	dest = document.getElementById("destination").value;
	relationship = document.getElementById("relationship").value;
	relation_list.push([source,dest,relationship]);
	nodes.add(source);
	nodes.add(dest);
	<!--alert(relationship);-->
	buildRelation([source,dest,relationship]);
	render(inner, g);
	centerGraph();
}

function del_relation() {
    source = document.getElementById("source").value;
	<!--alert(source);-->
	dest = document.getElementById("destination").value;
	relationship = document.getElementById("relationship").value;
	g.removeEdge(source, dest);
	var i = 0;
	var index;
	var temp = [source,dest,relationship];
	for (i =0;i<relation_list.length;i++)
	{
	    if (temp[0] == relation_list[i][0]   )
	    {
	        if(temp[1] == relation_list[i][1])
	        {
	            index = i;
	            //alert(index);
	        }

	    }

	}
	relation_list.splice(index,1);
	<!--alert(relation_list);-->
	render(inner, g);
	centerGraph();
}

function del() {
    source = document.getElementById("source").value;
	<!--alert(source);-->
	g.removeEdge('OB-D1099', 'nh-vsa-1');
	g.removeNode('nh-vsa-1');
	render(inner, g);
}


function save() {
    var myGeocode = {{ tb_name|tojson }};
    tb_name =myGeocode;
    $.post("/admin/testbed/save/"+tb_name,
    {
        'content':JSON.stringify(relation_list),
    },
    function(data,status){
        <!--alert(JSON.stringify(relation_list));-->
        <!--alert("数据: " + "\n状态: " + status);-->
    });
}
function getTestBedOrgChart() {
    var myGeocode = {{ tb_name|tojson }};
    tb_name =myGeocode;
    relation_list = {{relation|tojson}};
    buildBase(relation_list);
}


</script>

<script id="js">
// Create the input graph
var g = new dagreD3.graphlib.Graph().setGraph({});

var nodes = new Set([]);
var relation_list = new Array();
// Create the renderer
var render = new dagreD3.render();

// Set up an SVG group so that we can translate the final graph.
var svg = d3.select("svg"),
inner = svg.append("g");
getTestBedOrgChart();


</script>
{% endblock %}