<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />-->
     <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jquery.dataTables.min.css') }}">
    <script>
    $(document).ready(function () {
        $('#table1').DataTable(
            {
            "ajax": '/ajax/get_cmcc_status',
            "columns": [
			{ "data": "question" },
			{ "data": "answer" },
			{ "data": "option" }
            ]
            }
        );
    });
</script>
</head>



<body style="width:100%">
<table id="table1" >
    <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Options</th>

            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Options</th>
            </tr>
        </tfoot>
</table>
</body>
</html>